  @font-face {
    font-family: 'Diatype';
    src: url('../fonts/diatype-regular.woff2') format('woff2'),
        url('../fonts/diatype-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;   
  }

  @font-face {
    font-family: 'Favorit Mono';
    src: url('../fonts/favoritmono-regular.woff2') format('woff2'),
        url('../fonts/favoritmono-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  body{font-family:'Roboto', sans-serif; font-size:14px; padding-top:65px; background-color:#fafaf9; color:#000;}
  P{line-height:1.3;}
  b, strong{font-weight:bold;}
  .monoFont{font-family: 'Favorit Mono', monospace;}
  .genderPaySection h3{    margin-top: 2rem;}
  /* Plugin Styles */
  /* .slick-loading .slick-list{background: #fff url('./ajax-loader.gif') center center no-repeat;} */
  .slick-prev, .slick-next{font-size:0; z-index:1; line-height:0; position:absolute; top:50%; display:block; width:22px; height:22px; padding:0; -webkit-transform:translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); cursor:pointer; color:transparent; border:none; outline:none; background-repeat:no-repeat; background-color:transparent;}
  .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{outline:none;}
  /* .slick-prev:hover, .slick-prev:focus{background-position: 0 -45px;} 
  .slick-next:hover, .slick-next:focus{background-position:-25px -45px;} */
  .slick-prev{left:0; background-image:url('../images/ico-arrow-left.png');}
  [dir='rtl'] .slick-prev{right:0; left:auto;}
  .slick-next{right:0; background-image:url('../images/ico-arrow-right.png');}
  [dir='rtl'] .slick-next{right:auto; left:0;}

  .slick-dots{position: absolute; bottom:45px;  display: block;  width: 100%; padding: 0; margin: 0; list-style: none; text-align: center;}
  .slick-dots li{position: relative; display: inline-block; width:15px; height: 20px; margin: 0; padding: 0; cursor: pointer;}
  .slick-dots li button{ font-size: 0; line-height: 0; display: block; width:15px; height: 20px; padding:2px; cursor: pointer; color: transparent; border: 0; outline: none; background: transparent;}
  .slick-dots li button:hover, .slick-dots li button:focus { outline: none;}
  .slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
  .slick-dots li button:before{font-family: 'FontAwesome'; font-size:30px; line-height: 20px;  position: absolute; top: 0; left: 0; width: 20px; height: 20px;  content: '•'; text-align: center;  opacity: .25; color: #fff; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
  .slick-dots li.slick-active button:before{ opacity: .75; color:#fff; }

  .web-font-1{font-family:'Diatype';}
  .web-font-2{font-family:'Favorit Mono', monospace; line-height:1.4;}

  .bg-color-grey{background-color:#edede6 !important;}
  .bg-color-grey-grid{background-color:#edede6 !important; background-image:url('../images/pattern-grid-white.png');}
  .bg-color-green{background-color:#00c389;}
  .bg-color-green-grid{background-color:#00c389 !important; background-image:url('../images/pattern-green.png');}
  .bg-color-blue{background-color:#505bfe;}
  .bg-color-blue-grid{background-color:#505bfe !important; background-image:url('../images/pattern.png');}
  .bg-color-blue-grid.align-items-center{min-height:70vh;}
  .bg-color-white{background-color:#fff !important;}

  .full-banner{min-height:70vh; background-repeat:no-repeat; background-size:cover; background-position:center center;}

  .text-blue{color:#505bfe !important;}
  .text-green{color:#00c389 !important;}

  .display-def-9{font-size:9px;}
  .display-def-11{font-size:11px;}
  .display-def-12{font-size:12px;}
  .display-def-16{font-size:16px;}
  .display-def-18{font-size:calc(17px + 1 * ((100vw - 576px) / 1024));}
  .display-def-21{font-size:calc(18px + 3 * ((100vw - 576px) / 1024));}

  input:-webkit-autofill{-webkit-box-shadow:0 0 0 50px #fff inset; -webkit-text-fill-color:#505bfe;}
  input:-webkit-autofill:focus{-webkit-box-shadow:0 0 0 50px #fff inset; -webkit-text-fill-color:#505bfe;} 

  .btn{-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; font-family:'Favorit Mono', monospace;}

  .btn-rectangle{position:relative; text-transform:uppercase; font-size:18px; padding-left:2.25rem; padding-right:2.25rem; border-radius:0; background:transparent; border:2px solid #505bfe; color:#505bfe; 
  -webkit-transition-property:color; transition-property:color;
  -webkit-transition-duration:0.3s; transition-duration:0.3s; 
  -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0);}
  .btn-rectangle:before{content:''; position:absolute; z-index: -1; top:-1px; left:-1px; right:-1px; bottom:-1px; background:#505bfe; 
  -webkit-transform: scaleX(0); transform: scaleX(0);
  -webkit-transform-origin: 0 50%; transform-origin: 0 50%;
  -webkit-transition-property: transform; transition-property: transform;
  -webkit-transition-duration: 0.3s; transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
  .btn-rectangle:hover{color:#fff;}
  .btn-rectangle:hover:before{-webkit-transform:scaleX(1); transform:scaleX(1);}

  .btn-rectangle.btn-sm{font-size:14px; padding:0.375rem 0.75rem;}
  .btn-rectangle.btn-xs{font-size:14px; padding:0.225rem 0.75rem;}

  .btn-rectangle:hover .ico-arrow .st0{fill:#fff !important;}
  .btn-rectangle:hover .ico-arrow .st1{fill:#fff !important;}

  .btn-w-280{width:280px; max-width:100%; padding-left:inherit; padding-right:inherit;}
  .btn-w-200{width:200px; max-width:100%; padding-left:inherit; padding-right:inherit;}
  .btn-w-140{width:140px; max-width:100%; padding-left:inherit; padding-right:inherit;}

  .btn-circle{background:none; border-radius:50%; border:2px solid #505bfe; color:#505bfe; padding:.375rem .55rem; 
  -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s; transition-duration: 0.3s;
  -webkit-transition-property: color, background-color; transition-property: color, background-color;}
  .btn-circle:hover{background:#505bfe; color:#fff;}

  .btn.btn-white{border-color:#fff; color:#fff;}
  .btn.btn-white:before{background:#fff;}
  .btn.btn-white:hover{background:#fff; color:#505bfe;}

  .btn.btn-black{border-color:#000; color:#000;}
  .btn.btn-black:hover{color:#fff;}

  .btn.btn-blue{border-color:#505bfe; color:#fff; background:#505bfe;}
  .btn.btn-blue:hover{color:#505bfe;}
  .btn.btn-blue:before{background:#fff;}

  .btn.btn-green{border-color:#00c389; color:#00c389;}
  .btn.btn-green:hover{color:#fff;}
  .btn.btn-green:before{background:#00c389;}

  .btn.btn-grey{background:#edede6;}

  h1, h2, h3, h4, h5, h6{font-family:'Diatype';}

  h1.title, h2.title, h3.title, h4.title, h5.title, h6.title{margin:0;}

  h2, .h2{font-size:calc(28px + 18 * ((100vw - 576px) / 1024));}
  h3, .h3{font-family:'Favorit Mono', monospace; font-size:calc(18px + 4 * ((100vw - 576px) / 1024));}
  h4, .h4{font-size:18px;}

  a{color:#000;}
  a:hover{color:#505bfe; text-decoration:underline;}
  a[href]:not([href^="mailto:"]){white-space:nowrap;}
  a[href^="mailto:"]{word-break:break-all;}

  sub{bottom:0;}

  .link-grey{color:#868686;}
  .link-grey:hover{color:#000;}

  .link-blue{color:#505bfe;}
  .link-blue:hover{color:#505bfe; text-decoration:none;}
  .link-blue[href]:not([href^="tel"]):not([href^="mailto:"]){font-family:'Favorit Mono', monospace; text-decoration:underline;}

  .link-default{color:#505bfe; text-decoration:underline;}
  .link-default:hover{text-decoration:none;}

  .generic-padding, .generic-padding-xl{padding-top:3rem; padding-bottom:3rem;}

  .divider{background:url('../images/pattern-blue.svg') repeat-x; height:5px; width:100%; display:block; margin-bottom:3rem; margin-top:2rem;}
  .divider.divider-black{background-image:url('../images/pattern-black.svg');}

  .table-bordered td, .table-bordered th{border-color:#000;}

  .section-heading{margin-bottom:1.5rem;}
  .section-heading .subtitle{margin-bottom:0; font-size:calc(18px + 4 * ((100vw - 576px) / 1024));}
  .section-heading .title + .subtitle{margin-top:10px;}

  .section-heading.section-heading-xs .title{font-size:calc(24px + 6 * ((100vw - 576px) / 1024));}
  .signUp .section-heading.section-heading-xs .title { font-size: calc(20px + 4 * ((100vw - 576px) / 1024));margin-top:5%}
  .section-heading.section-heading-sm .title{font-size:calc(28px + 10 * ((100vw - 576px) / 1024));}

  .section-heading .title.web-font-1{font-size:calc(24px + 6 * ((100vw - 576px) / 1024));}

  .header .nav-item:hover >   .dropdown-menu {display: block;}
.header .nav-item >  .dropdown-toggle:active {pointer-events: none;}
.header .nav-item {position: relative;}

  .header{padding-top:5px; padding-bottom:5px; background-color:#fff; z-index:1051;}
  /* .header .navbar{padding-left:0; padding-right:0;} */
  .header .navbar-nav > .nav-item .nav-link{text-transform:uppercase; color:#000 !important; font-family:'Diatype';}
  .header .navbar-nav > .nav-item .nav-link:hover, 
  .header .navbar-nav > .nav-item .nav-link.active{color:#505bfe !important;}
  .footer{padding-top:50px; padding-bottom:35px; font-size:13px; background-color:#505bfe; color:#fff;}
  .footer a{color:#fff !important;}
  .footer a:hover{text-decoration:underline;}
  .footer a[href^="tel"], 
  .footer a[href^="mailto:"]{color:inherit; text-decoration:none;}
  .footer .btn{background-color:#fff; line-height:0.5; padding:0.2rem 0.2rem;}
  .footer .btn svg{fill:#505bfe;}
  .footer .btn.btn-linkedin{padding:0.075rem;}
  .footer .btn.btn-linkedin svg{background-color:#505bfe; fill:#fff; border-radius:2px;}

  .navbar-brand{z-index:3; position:relative;}
  .navbar-toggler{z-index:3; border:none; outline:none !important;}
  .navbar-toggler .navbar-toggler-icon{background-image:none; height:auto;}
  /* .navbar-toggler .navbar-toggler-icon svg path{fill:#505bfe} */
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon #hamburgerClose{display:block;}
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon #hamburgerMenu{display:none;}
  .navbar-toggler[aria-expanded="false"] .navbar-toggler-icon #hamburgerClose{display:none;}

  .header .nav-item .dropdown-menu{background-color:#505bfe; border-radius:0; border:0; text-align:center;}
  .header .nav-item .dropdown-toggle:after{display:none;}
  .header .nav-item .dropdown-menu .dropdown-item, 
  .header .nav-item .dropdown-menu .nav .nav-item .nav-link{color:#fff !important; text-transform:inherit; background-color:transparent !important;}
  .header .nav-item .dropdown-menu .nav .nav-link{padding:.25rem 1.5rem !important;}
  .header .nav-item .dropdown-menu .nav{display:block;}
  .header .nav-item.dropdown.show > .nav-link{color:#505bfe !important; text-decoration:underline;}

  /* .page-wrapper{position:relative;}
  .page-wrapper:before, .page-wrapper:after{content:''; position:absolute; background-image:url('../images/pattern.png');}
  .page-wrapper:before{left:4.5%; right:0; top:0; height:90%; width:36%;}
  .page-wrapper:after{right:4.5%; bottom:0; height:70%; width:15%;} */

  /* .page-transition{width:100%; height:100%; top:0; left:0; position:fixed; opacity:0.8; background-color:#fff; z-index:999;} */
  .downloadFormDiv input {margin-left:-2px}
 
  #svgHeaderLogo .st0{ fill:#505bfe; }
  #svgHeaderLogo .st1{ fill:#505bfe; }

  #svgHindujaGroupLogo .st1{fill-rule:evenodd; clip-rule:evenodd;}

  .ico-arrow .st0{fill:#505bfe; clip-path:url(#icoArrow2);}
  .ico-arrow .st1{fill:#505bfe;}

  body.active{overflow:hidden;}

  .footer-brand-slogan svg{margin-bottom:6px;}

  [data-aos=fade-up]{
    transform: translate3d(0,10px,0);
  }

  .form-row{margin-right: -8px; margin-left: -8px;}
  .form-row > .col, .form-row > [class*=col-]{padding-right:8px; padding-left:8px;}

  .hero-banner{width:100%; position:relative; overflow:hidden; background-color:#fff;}
  .hero-banner .hero-image{width:100%; height:100%; top:0; left:0; right:0; z-index: 1; background-repeat:no-repeat; background-size:cover; background-position:center center;}
  .hero-banner .hero-holder{position:relative; z-index:2;}
  .hero-banner .hero-link{text-align:right;}
  .hero-banner.hero-banner-plain{min-height:calc(80vh - 65px);}
  .hero-banner.hero-banner-plain .hero-image{display:none;}
  .hero-banner.hero-banner-plain .subtitle{font-family:'Favorit Mono', monospace; /* font-size:16px; */}

  .split-col-banner{background-repeat:no-repeat; background-size:cover; background-position:center center; /* min-height:78vh; */}
  /* .split-column .split-col-banner{min-height:78vh;}
  .split-column-full .split-col-banner{min-height:calc(100vh - 65px);} */
  .split-col-banner figcaption{color:#fff; position:absolute; font-size: calc(14px + 2 * ((100vw - 576px) / 1024));}

  .split-column-full{overflow:hidden;}
  .split-column-full.bg-color-blue .d-flex:before{content:''; position:absolute; right:0; height:50%; top:2rem; left:4.5%; background:url('../images/pattern.png');}
  .split-column-full.bg-color-green .d-flex:before{content:''; position:absolute; right:0; height:120px; top:5rem; left:4.5%; background:url('../images/pattern-green.png');}
  .split-column-full .category{text-transform:uppercase;}

  .intro-newsletter{position:relative;}
  .intro-newsletter:before{content:''; position:absolute; width:50%; height:100%; max-width:530px; max-height:459px; top:5rem; left:4.5%; background:url('../images/pattern-box.svg') no-repeat; background-size:cover;}
  .intro-newsletter.signUpSection:before {display: none;}
  .form-newsletter{margin-top:8vh;}
  .form-newsletter .form-control{font-family:'Favorit Mono', monospace; background-color:transparent; text-align:center; border-radius:0; border-color:#505bfe; border-width:2px; color:#000; font-size:16px; height:calc(1.5em + .75rem + 8px)}
  .form-newsletter ::-webkit-input-placeholder{color:#000 !important;}
  .form-newsletter :-moz-placeholder{color:#000 !important;}
  .form-newsletter ::-moz-placeholder{color:#000 !important;}
  .form-newsletter :-ms-input-placeholder{color:#000 !important;}
  .form-newsletter .input-group-append{margin-left:10px;}
  .form-newsletter .btn{width:44px; border-radius:50% !important;}

  .form-primary .form-control{background-color:transparent; border-radius:0; border-color:#505bfe; border-width:2px; color:#000; font-size:16px; height:calc(1.5em + .75rem + 4px)}
  .form-primary ::-webkit-input-placeholder{color:#000 !important;}
  .form-primary :-moz-placeholder{color:#000 !important;}
  .form-primary ::-moz-placeholder{color:#000 !important;}
  .form-primary :-ms-input-placeholder{color:#000 !important;}
  .form-primary .custom-select{background:transparent url("../images/ico-arrow-down.png") no-repeat right .75rem center/16px 10px;}
  .form-primary .form-check{padding-left:3.25rem; display:flex; align-self:center; width:85%;}
  .form-primary .form-check .custom-control-label{line-height:1.4; font-size:13px;}
  .form-primary .form-check .custom-control-label:before,
  .form-primary .form-check .custom-control-label:after{top:50%; left:-3.25rem;}
  .form-primary .form-check .custom-control-label:before{width:38px; height:38px; margin-top:-19px; border-color:#505bfe; border-width:2px; background:none;}
  .form-primary .form-check .custom-control-label:after{width:30px; height:30px; margin:-15px 4px 4px 4px;}
  .form-primary .form-check .custom-control-input:checked~.custom-control-label:before{background:none;}
  .form-primary .form-check .custom-control-input:checked~.custom-control-label:after{background:#5350f7;}
  .form-primary .btn-circle{width:38px; height:38px; padding:.375rem .25rem;}
  .signUp {background-image: url(../images/signup/form-bus-drawing-image.png);background-repeat: no-repeat;
    background-position: right -3px;
    background-size: contain; }
    .signUp  .form-wrapper {padding-bottom:40%;}
  .pub-date{font-family:'Favorit Mono', monospace; font-size:16px;}

  .prod-title{margin-bottom:20px;}
  .prod-title .title{/* text-transform:uppercase; */ font-size:calc(20px + 10 * ((100vw - 576px) / 1024));}
  .prod-title.prod-title-xs .title{font-size:calc(20px + 2 * ((100vw - 576px) / 1024));}
  .prod-btm{background-color:#505bfe; color:#fff; padding:15px; font-family:'Favorit Mono', monospace;}
  .prod-btm a{color:#fff; font-size: 16px;}

  .team-list{list-style:none; padding:0;}
  .team-card .team-pic{margin-bottom:10px;}
  .team-card .team-pic img{width:100%;}
  .team-card .title{font-size:22px;}
  .team-card .team-link{font-family:'Favorit Mono', monospace; font-size:12px; letter-spacing:-1px;}

  .team-carousel{list-style:none; padding:0;}
  .team-carousel .team-card{margin-bottom:0;}
  .team-carousel .slick-prev, 
  .team-carousel .slick-next{margin-top:-30px;}

  .awards-carousel{list-style:none; padding:0;}
  .awards-carousel .slick-list{margin:0 -15px;}
  .awards-carousel .slick-slide{padding:0 15px;}

  .blockquote-carousel{list-style:none; padding:0 !important;}
  .blockquote-carousel .slick-list{margin:0 -15px;}
  .blockquote-carousel .slick-slide{padding:0 15px;}
  .blockquote-carousel .slick-prev, 
  .blockquote-carousel .slick-next{margin-top:-40px; top:0}
  .blockquote-carousel .slick-prev{left:0}
  .blockquote-carousel .slick-next{left:40px; right:auto;}

  .modal .modal-content{border-radius:0; background-color:#edede6; border:none;}
  .modal .divider{background-image:url('../images/pattern-black.svg');}
  .modal .close{position:absolute; z-index:1; right:30px; top:25px; font-size:2.5rem; font-weight:400; outline:none;}
  .modal .title{font-family:'Favorit Mono', monospace;}
  .modal .modal-body h4,
  .modal .modal-body h5{font-family:'Roboto', sans-serif; font-size:14px; color:#00c389; margin-bottom:0.25rem; line-height:1.3;}
  .modal .modal-body h4{font-weight:700;}
  .modal .modal-body h5{font-style:italic;}
  .modal .modal-body ul,
  .modal .modal-body ol{line-height:1.3; padding-left:1rem;}
  .modal .modal-body table{border-collapse:collapse; width:100%; margin-bottom:1rem;}
  .modal .modal-body table th{background-color:#00c389; color:#fff;}
  .modal .modal-body table td, 
  .modal .modal-body table th{border:1px solid #000; padding:0.75rem; vertical-align:top;}

  .modal.road-block .close{color:#fff; text-shadow:none; opacity:1; right:20px; top:10px;}

  .icon-block{margin-top:5px; margin-bottom:3rem;}
  .icon-block .icon{margin-bottom:20px;}
  .icon-block .icon-content{max-width:340px;}
  .icon-block .title{margin-bottom:15px; display:flex; align-items:center;}
  .icon-block .title .icon{margin-right:15px;}

  .company-animation .embed-responsive{height:100%; /* min-height:40vh; */}
  .company-animation video{background-color:transparent; object-fit:cover;}
  /* body.safari .company-animation-wrapper, 
  body.safari .company-animation video{background-color:#5c66ff !important;}
  body.chrome .company-animation-wrapper, 
  body.chrome .company-animation video{background-color:#514df9 !important;} */

  .list-default{margin:0; padding:0; list-style:none;}
  .list-default li{position: relative; padding: 0 0 0 20px;}
  .list-default li:before{content:''; margin:8px 0 0 -19px; position:absolute; background-color:#000; border-radius:50%; width:6px; height:6px;}
  .list-default.text-blue li:before{background-color:#505bfe;}

  .awards-card{background-color:#fff; padding:0 10px;}
  .awards-card img{margin:0 auto;}

  .error-msg{margin-top:.25rem; font-size:80%; color:#e55a23;}


  /* blog */

  .blogDetail p{font-size:14px; line-height: 26px;}
  .blogDetailContent img {text-align: center; margin-top: 3%; margin-bottom:3%}
  .blogDetailContent h4 {margin-bottom: 2%;}
  .blogDetail .general-content h4 {font-size: 18px; font-weight: 600;    line-height: 25px;}
  .blogDetail .text-blue {font-family: 'Favorit Mono', monospace;    padding-top: 1rem;}
  .blogDetailFooter {position: relative;
    padding-top: 4rem;
    margin-top: 3.5rem;}
    .blogDetailFooter ul {list-style-type:none; padding:0; display: flex; align-items: center;}

  .blogDetailFooter:before {
    content: '';
    position: absolute;
    top: 0;
    background: url(../images/pattern-blue.svg) repeat-x;
    height: 5px;
    width: 100%;
    display: block;
  }
  .blogGrid {padding:0 25px}
  .blogDetailFooter .summary h5{font-size: 16px;font-weight:600;line-height: 25px;}
  .blogDetailFooter .summary {width:40%}
  .blogDetailFooter a {font-family: 'Favorit Mono', monospace;}
  .blogDetailFooter a:hover {text-decoration: none;}
  .blogDetailFooter .row-reverse {flex-direction: row-reverse;text-align: right;}
  .blogHeader {background: url(../images/blog/Blog_Banner.html);background-size: cover;
    background-position: center; background-repeat: no-repeat;}
  .blogHeader .row{ padding:5% 6%} 
  .blog-padding{ padding-top:2.5rem;padding-bottom:2.5rem}
  .blog-btm{
      letter-spacing: 2px;
  }
  .blog-link
  {
    padding-left:15px;
    padding-right:15px;
  }
  .blog-link:hover {text-decoration: none;} 
  .blog-banner .blog-image{width:100%; height:100%; top:0; left:0; right:0; z-index: 1; background-repeat:no-repeat; background-size:contain;}
  .blog-filter
    {
      justify-content:center;
      margin-left:25px;
    }
    .blog-left-padding
  {
    left:7%;
  }
  .BlogfooterPagination .btn{	border: 1px solid #505bfe;
    color: #505bfe;
    border-radius: 0rem !important;
    padding: 5px 15px;}
    .BlogfooterPagination ul {    padding-left: 0;list-style: none; display: flex;}
    .BlogfooterPagination .btn.active {background-color: #505bfe; color: #fff;}
    .BlogfooterPagination .btn:focus,   .BlogfooterPagination .btn:active {outline: none;box-shadow: none;}
  .blog-content-border
  {cursor: pointer;
    border:1px solid #ccc;
  }
  .blog-content-border .pub-date {margin-bottom:8%;}
  .blog-content-border p {line-height: 27px;}
  .blog-content-padding
  {
    padding:44px 35px;
  }


  .blog-content-border .prod-pic {position: relative;
    margin: auto;
    overflow: hidden;
    display: inline-block;
    width: 100%;}
  .blog-content-border .prod-pic:hover >img {-moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);}
  .blog-col-padding select
  {

    padding-right:15px;
    
  }
  .blogSection select {	-moz-appearance:none !important;
    -webkit-appearance: none !important; 
    appearance: none !important;    background: #eaeaea url(../images/blog/selectDropdownIcon.html) no-repeat right 0.75rem center/14px 8px;    height: calc(1.5em + 0.75rem + 9px); color: #000;
    font-weight: 600;}
  .blog-year-selection{	width:160px;}
  .blog-month-selection{width:100px;}
  .blog-custm-width-search{	width:35%;}
  .blog-top-left {position: absolute; top: 17%; z-index: 2; left: 10%;}
  .blogSection .form-control{ border-radius: 0;}

  .btn-search
  {  
    border:1px solid #505bfe;
    color:#505bfe;
    border-radius: 0.0rem !important;
    padding:10px 1.75rem;
  }
  .blog_banner
  {
    background-color: #edede6 !important;
      background-image: url(../images/blog/Blog_Banner.html)
  }

  .btn-search_bar {
      color: #fff;
    background-color:#505bfe;
    border-radius: 0.0rem !important;
    border: 1px solid #505bfe;
  }
  .blog-col-padding
  {
    padding-left:2%;
  }
  .blog-col-heading-padding
  {
    padding-left:8%;
  }
  .blog-title
  {
    font-weight: 600;
    line-height:1.5;
    font-size: 21px;
    
  }
  
  .heading_left
  {
    top: 28%;
    z-index:2;
      position: absolute;
  }
  .blog-img
  {
    max-width: 100%;
    transition: all 0.4s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);

  }
  .blogSection {background-color: #fff;}
  .blogSection ::-webkit-input-placeholder{color:#000 !important;}
  .blogSection :-moz-placeholder{color:#000 !important;}
  .blogSection ::-moz-placeholder{color:#000 !important;}
  .blogSection :-ms-input-placeholder{color:#000 !important;}
  .blogFilterSection {    padding-right: 25px;}
  .blogFilterSection ul li:first-child {margin-right: 30px;}
  .blogFilterSection ul li {margin-right: 12px;}
  .blogFilterSection ul li:last-child {margin-right: 0;} 
  .blogFilterSection ul li .btnSearch {    height: calc(1.5em + 0.75rem + 9px);
    width: 110px;
    color: #505bfe;
    border: 1px solid #505bfe;
    background-color: #fff;
    font-size: 17px;}
    .blogFilterSection ul li .btnSearch:focus, .blogFilterSection ul li .btnSearch:active {border-color: #505bfe; outline: none;} 
    .blogSection   input:focus { outline: none;
      box-shadow: none; }
    .blogSection ul li .form-control:focus {    outline: none;
      box-shadow: none;  background-color: #eaeaea;}
  .blogFilterSection ul{padding: 0;
    display: flex;
    list-style: none;margin-bottom: 0;
    align-items: center;
    justify-content: flex-end;}

  /* end of blog*/

  /* @media screen and (-webkit-min-device-pixel-ratio:0) {
    video{ -webkit-filter: brightness(110%); }
  } */
  .vehicle-carousel{list-style:none; padding:0;}
  .vehicle-carousel .slick-list{margin:-20px 0;}
  .vehicle-carousel .slick-slide{padding:20px 0;}
  .vehicle-carousel .slick-slide img{max-width:100%;}

  .vertical-slider{position:relative; width:100%; overflow:hidden;}

  .filter-block{text-transform:uppercase; margin-bottom:2.5rem;}
  .filter-block .filter-label{font-family:'Favorit Mono', monospace;}
  .filter-block .btn{color:#505bfe; box-shadow:none; padding-top:0; padding-bottom:0; font-size:18px; line-height:1.1;}

  .news-header{background-color:#505bfe; color:#fff; padding-top:2.5rem; padding-bottom:2rem;}
  .news-header .container-fluid:after{content:''; background:url('../images/pattern-white.svg') repeat-x; height:5px; width:100%; display:block;}
  .news-header .row{padding-bottom:1rem;}
  .news-header .title{font-size:24px;}
  .news-header .post-holder{font-family:'Favorit Mono', monospace;}
  .news-header .post-holder .category{text-transform:uppercase;}

  .news-footer{font-family:'Favorit Mono', monospace; position:relative; padding-top:2rem; margin-top:3.5rem;}
  .news-footer:before{content:''; position:absolute; top:0; background:url('../images/pattern-blue.svg') repeat-x; height:5px; width:100%; display:block;}
  .news-footer a{color:#505bfe;}

  .general-content .featured-image{margin-bottom:2.5rem;}
  .general-content .featured-image + h3{margin-top:2.5rem;}
  .general-content p + h3,
  .general-content ul + h3{margin-top:2.5rem;}
  .general-content h3{margin-bottom:2.5rem;}
  .general-content h4{font-size:16px; font-weight:700;}
  .general-content h4 + p,
  .general-content h4 + ul{margin-top:0;}
  .general-content p{margin-top:1.5rem; margin-bottom:1.5rem;}
  .general-content p:first-child{margin-top:0;}
  .general-content figure:not(.featured-image){margin-top:2.5rem; margin-bottom:2.5rem;}
  .general-content figcaption{font-family:'Favorit Mono', monospace; margin-top:10px;}
  .general-content blockquote{position:relative; /* padding-bottom:0.5rem; */ margin-top:2.5rem; margin-bottom:2.5rem;}
  .general-content blockquote p{font-family:'Favorit Mono', monospace; font-size: calc(18px + 4 * ((100vw - 576px) / 1024)); color:#505bfe;}
  /*.general-content blockquote:after{content:''; position:absolute; bottom:0; background:url('../images/pattern-blue.svg') repeat-x; height:5px; width:100%; display:block;}*/
  .general-content blockquote footer{/* margin-bottom:1.5rem; */ font-weight:bold;}
  .general-content blockquote footer:before{content:'\2014 \00A0'; margin-right:5px;}
  .general-content a{color:#505bfe; white-space:inherit !important;}

  .general-carousel{padding-left:0; list-style:none;}
  .general-carousel .slick-prev, 
  .general-carousel .slick-next{background:none; color:#fff; font-size:40px; font-family:monospace;}
  .general-carousel .slick-prev{left:30px;}
  .general-carousel .slick-next{right:30px;}

  .quote-content{margin-bottom:1.5rem;}
  .quote-content p{font-size:calc(24px + 6 * ((100vw - 576px) / 1024));}
  .quote-content footer{font-family:'Favorit Mono', monospace; font-weight:500; font-size:calc(17px + 1 * ((100vw - 576px) / 1024));}
  .quote-content footer:before{content:'\2014 \00A0'; margin-right:5px;}

  .fullview-content{min-height:calc(100vh - 345px);}

  .gutter-100 > [class^="col-"]:last-of-type{margin-bottom:0 !important;}
  .row.list-unstyled > [class^="col-"]:last-of-type{margin-bottom:0 !important;}

  /* Development - starts */
  span.a2a_kit.a2a_kit_size_32.addtoany_list{line-height:1.5 !important;}
  .addtoany_list.a2a_kit_size_32 > a{font-size:14px;}
  .addtoany_list.a2a_kit_size_32 a > span{display:none;}
  /* Development - ends */



  /* home page slider */




  .main-slider {
  position: relative;
  width: 100%;
  height: 38vw;
  min-height: 8vw;
  margin-bottom: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all 1.2s ease;
  }
  .main-slider.slick-initialized {
  opacity: 1;
  visibility: visible;
  }

  .main-slider .slick-slide {
  position: relative;
  height: 38vw;
  }
  .main-slider .slick-slide:first-child .caption .title{color: #505bfe;}
  .main-slider .slick-slide::before {
    background-color: #000;
    opacity: 0;
    z-index: 1;
  }
  .main-slider .slick-slide video {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  }
  .main-slider .slick-slide figure {
  position: relative;
  height: 100%;
  }
  .main-slider .slick-slide .loading {
  position: absolute;
  top: 44%;
  left: 0;
  width: 100%;
  }
  .main-slider .slick-slide .slide-media {
  -webkit-animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
          animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
  }
  .main-slider .slick-slide.slick-active {
  z-index: 1;
  }
  .main-slider .slick-slide.slick-active .slide-media {
  -webkit-animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
          animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
  }
  .main-slider .slick-slide.slick-active .caption {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
  }

  .main-slider .slick-dots {
  text-align: center;
  padding-top: 15px;
  bottom: 20px;
  }
  .main-slider .slick-dots li {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
  }
  .main-slider .slick-dots li button {
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 0 0 transparent;
  vertical-align: middle;
  color: #fff;
  background-color: #fff;
  transition: all 0.3s ease;
  opacity: 0.4;
  }
  .main-slider .slick-dots li button:focus {
  outline: none;
  }
  .main-slider .slick-dots li button:hover {
  opacity: 1;
  }
  .main-slider .slick-dots li.slick-active button {
  border-color: #505bfe;
  /* box-shadow: 0 0 0 2px #fff; */
  opacity: 1;
  }
  .main-slider .slick-dots li button:before {
  content: none;
  }
  .main-slider .item {
    position: relative;
  }

  .main-slider .item h3 {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateX(-50%);
  }

  .main-slider .item iframe {
    width: 100%;
    height: 100%;
  }


  .no-js #loader { display: none;  }
  .js #loader { display: block; position: absolute; left: 100px; top: 0; }
  .se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/preloader.gif) center no-repeat #fff;
  }

  @-webkit-keyframes slideIn {
  from {
    filter: blur(15px);
  }
  to {
    filter: blur(0);
  }
  }

  @keyframes slideIn {
  from {
    filter: blur(15px);
  }
  to {
    filter: blur(0);
  }
  }
  @-webkit-keyframes slideOut {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(15px);
  }
  }
  @keyframes slideOut {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(15px);
  }
  } */





  .caption, .slick-slide::before, .slick-slide {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .main-slider .slick-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .main-slider {
    position: relative;
    width: 100%;
    height: 42vw;
    min-height: 8vw;
    margin-bottom: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    -ms-transition: all 1.2s ease;
    transition: all 1.2s ease;
  }
  .main-slider.slick-initialized {
    opacity: 1;
    visibility: visible;
  }
  .main-slider:hover .slick-dots {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .main-slider .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .main-slider .slick-slide {
    position: relative;
    height: 42vw;
  }
  .main-slider .slick-slide::before {
    background-color: #000000;
    opacity: 0;
    z-index: 1;
  }
  .main-slider .slick-slide video {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .main-slider .slick-slide iframe {
    position: relative;
    pointer-events: none;
  }
  .main-slider .slick-slide figure {
    position: relative;
    height: 100%;
    margin: 0;
  }
  .main-slider .slick-slide .slide-image {
    /* opacity: 0; */
    height: 100%;
    background-size: cover;
    background-position: center;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }
  .main-slider .slick-slide .slide-image.show {
    opacity: 1;
  }
  .main-slider .slick-slide .image-entity {
    width: 100%;
    /* opacity: 0;
    visibility: hidden; */
  }
  .main-slider .slick-slide .loading {
    position: absolute;
    top: 44%;
    left: 0;
    width: 100%;
  }
  .main-slider .slick-slide .slide-media {
    animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
  }
  .main-slider .slick-slide.slick-active {
    z-index: 1;
  }
  .main-slider .slick-slide.slick-active .slide-media {
    animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
  }
  .main-slider .slick-slide.slick-active .caption, .main-slider .slick-slide.slick-active .go-btn {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
  }

  .main-slider .container-fluid {
    position: absolute;
    bottom: 40%;
    left: 0;
    /* text-align: center;
    padding: 7px 10px; */
    /* border: 3px solid; */
    color: #ffffff;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.02em;
    /* opacity: 0; */
    z-index: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
  }

  /* .main-slider .item:first-child .go-btn .btn-circle{border-color: #505bfe; color: #505bfe;} */
  .main-slider .go-btn .btn-circle {
    border-color: #fff;
    color: #fff;
    width: 38px;
    height: 38px;
    padding: 0.375rem 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-slider .go-btn .btn-circle:hover {
    border-color: #fff;
    color: #505bfe;
    background-color: #fff;
  }
  .main-slider .slick-dots {
    /* opacity: 0; */
    bottom: 10%;
    text-align: center;
    padding-top: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .main-slider .slick-dots li:hover button,
  .main-slider .slick-dots li.slick-active button {
    background: #505bfe;
  }
  .main-slider .slick-dots li {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
  }
  .main-slider .slick-dots li button {
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #505bfe;
    /* -moz-box-shadow: 0 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 0 transparent;
    -ms-box-shadow: 0 0 0 0 transparent;
    -o-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent; */
    vertical-align: middle;
    color: #ffffff;
    background-color: transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 1;
  }
  .main-slider.slick-dots li button:focus {
    outline: none;
  }
  .main-slider.slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .main-slider.slick-dots li button:hover {
    opacity: 1;
  }
  .main-slider.slick-dots li.slick-active button {
    border-color: #000000;
    -moz-box-shadow: 0 0 0 2px #ffffff;
    -webkit-box-shadow: 0 0 0 2px #ffffff;
    -ms-box-shadow: 0 0 0 2px #ffffff;
    -o-box-shadow: 0 0 0 2px #ffffff;
    box-shadow: 0 0 0 2px #ffffff;
    opacity: 1;
  }

  @keyframes slideIn {
    from {
      filter: url(blur.html#blur);
      filter: blur(15px);
      -webkit-filter: blur(15px);
      filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius="10");
    }
    to {
      filter: url(blur.html#blur);
      filter: blur(0);
      -webkit-filter: blur(0);
      filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius="10");
    }
  }
  @keyframes slideOut {
    from {
      filter: url(blur.html#blur);
      filter: blur(0);
      -webkit-filter: blur(0);
      filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius="10");
    }
    to {
      filter: url(blur.html#blur);
      filter: blur(15px);
      -webkit-filter: blur(15px);
      filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius="10");
    }
  }

  /* home page slider */

  @media (min-width: 576px) { 
    /* .navbar-brand img{max-width:180px;} */

    .container-fluid{padding-left:4.5%; padding-right:4.5%;}
    
    .modal .modal-body{padding:40px;}
    .modal .modal-dialog{margin:calc(1.75rem + 70px) auto;}

    .modal.road-block .modal-body{padding:80px 40px 60px;}

    .team-card{margin-bottom:3rem;}

    .vertical-slider{padding-bottom:30%; margin-bottom:-40px;}    
  }
  @media (min-width: 768px) and (max-width: 992px) { 
    .main-slider .container-fluid {bottom: 60%;}
    /* .vehicle-banner { max-height: 500px; } */
    .blog-top-left {
      top:12%;
    }
    
  .blog-col-padding {
      padding-left: 1% !important;
  }
  .blog-filter {
      justify-content: center;
      margin-left: -5px !important;
  }
  
  }
  @media (min-width: 768px) { 
    .hero-banner{color:#fff; min-height:calc(100vh - 65px);}
    .hero-banner .hero-image{position:absolute; height:100%;}    
    /* .hero-banner:not(.hero-banner-plain):after{content:''; z-index:1; background-color:rgba(0,0,0,0.3); position:absolute; top:0; bottom:0; left:0; width:100%;} */
    .hero-banner .hero-link{background:url('../images/pattern-white.svg') repeat-x center left;}

    .split-col-banner{min-height:78vh;}
    .split-column .split-col-banner{min-height:78vh;}
    .split-column-full .split-col-banner{min-height:calc(100vh - 65px);}
    .split-column-full.split-column-right .split-col-banner{min-height:calc(48vh - 65px);}
    .split-column-full .generic-padding{padding-bottom:2rem !important;}
    .split-col-banner figcaption{bottom:20px; left:30px;}

    .intro-newsletter{min-height:84vh; align-items:center;}

    .company-animation .embed-responsive:after{position:absolute; content:''; left:0; top:0; right:0; bottom:0; background:transparent;}

    .form-wrapper{max-width:360px; margin-left:auto;}

    .general-content h3{max-width:58%;}
    .general-content figure:not(.featured-image){margin-left:auto; margin-right:auto; max-width:90%;}
    .general-content blockquote p{max-width:58%;}
  }

  @media (min-width: 992px) {
    .generic-padding{padding-top:3.5rem; padding-bottom:3.5rem;}
    .generic-padding-xl{padding-top:5rem; padding-bottom:5rem;}

    /* .hero-banner.generic-padding{padding-top:3.5rem; padding-bottom:3.5rem;} */
    .hero-banner.hero-banner-plain .hero-holder{max-width:52%; margin:0 auto;}
    .hero-banner .hero-link .btn-circle{height:54px; width:54px; font-size:22px; line-height:1.8;}
    
    .header .navbar-expand-lg .navbar-nav .nav-link{padding-right:0.75rem; padding-left:0.75rem; font-size:15px;}
    /* .header .navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link{padding-right:0;} */
    .header .nav-item.show {position: relative;}
    .header .nav-item .dropdown-menu{margin-top: 4px;left: 50%;transform: translatex(-50%);}
    .header .nav-item .dropdown-menu:after{content:''; position:absolute; top:0; left:50%; display:inline-block; margin-left:-12px; margin-top:-12px; border-bottom:12px solid #505bfe; border-right:12px solid transparent; border-top:0; border-left:12px solid transparent;}

    .header .nav-item .dropdown-menu.dropdown-menu-right{min-width:4rem;}

    .slick-prev{left:-40px;}
    [dir='rtl'] .slick-prev{right:-40px; left:auto;}
    .slick-next{right:-40px;}
    [dir='rtl'] .slick-next{right:auto; left:-40px;}

    .split-column-full.split-column-right .split-col-banner{min-height:calc(78vh - 65px);}
  }

  @media (min-width: 1200px) {
    .modal-xl{max-width:1230px;}

    .btn-rectangle[class*="xl-block"]{padding-left:0; padding-right:0;}

    .footer-brand-slogan{ margin-left:auto;}

    .gutter-100.row{margin-right:-50px; margin-left:-50px;}
    .gutter-100 > [class^="col-"], .gutter-100 > [class^=" col-"]{padding-right:50px; padding-left:50px;}
   .vehicleSection .gutter-100 > [class^="col-"] {padding-right:0;}
    .gutter-60.row{margin-right:-30px; margin-left:-30px;}
    .gutter-60 > [class^="col-"], .gutter-60 > [class^=" col-"]{padding-right:30px; padding-left:30px;}
    
    .gutter-20.row{margin-right:-10px; margin-left:-10px;}
    .gutter-20 > [class^="col-"], .gutter-20 > [class^=" col-"]{padding-right:10px; padding-left:10px;}
    
    .gutter-10.row{margin-right:-5px; margin-left:-5px;}
    .gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"]{padding-right:5px; padding-left:5px;}

    .prod-title{display:-ms-flexbox; display:flex; justify-content:space-between; align-items:flex-end;}

    .team-carousel .slick-list{margin:0 -30px;}
    .team-carousel .slick-slide{padding:0 30px;}
    .search-here{
      width:145%;
    }
  }
  @media (max-width: 1367.98px) { 
    h4.title.mb-1 {font-size: 15px;}
    .signUp {background-size: 60%;}
    .signUp .form-wrapper {padding-bottom: 20%;}
    .blogFilterSection ul li:first-child { margin-right: 2%;}
    .blog-year-selection {    width: 130px;}
    .blog-month-selection {
      width: 90px;
  }
  .blogFilterSection ul li .btnSearch {    width: 90px;}
  }
  @media (max-width: 1199.98px) { 
    .team-carousel .slick-list{margin:0 -15px;}
    .team-carousel .slick-slide{padding:0 15px;}
    .signUp .form-wrapper {padding-bottom: 10%;}
    .signUp {background-image: url(../images/signup/form-bus-drawing-image-Tab.png);background-size: contain;}
  .blogSection .offset-lg-4{    margin-left: 24.333333%;}
  .blogSection .blogFilterSection {    flex: 0 0 50.666667%;max-width: 50.666667%;-ms-flex: 0 0 50.666667%;}
  }

  @media (max-width: 991.98px) { 
    .blogDetail .general-content h4 {margin-bottom: 5%;}
    .blog-content-padding {padding: 7% 5% 10% 5%;}
    .blogSection .offset-lg-4{    margin-left: 0; margin: 0 auto;}
    .blogSection .blogFilterSection {margin: 3% auto 0;}
    .blogDetailFooter .summary {display: none;}
    .blogSection .blogFilterSection {    flex: initial;  max-width:initial;-ms-flex: initial;}
    .blogFilterSection ul {justify-content: center;}
    .navbar-collapse{position:fixed; top:0; background:#fff; left:0; right:0; z-index:2; bottom:0; padding:75px 1rem 0;
    opacity:0;
    visibility:hidden;
    -webkit-transition:all 0s linear 0.35s;
    -o-transition:all 0s linear 0.35s;
    transition:all 0s linear 0.35s;
    }
    .navbar-collapse.show{opacity:1;
    visibility:visible;
    -webkit-transition:none;
    -o-transition:none;
    transition:none;
    -webkit-transition-delay:0s;
    -o-transition-delay:0s;
    transition-delay:0s;}

    .navbar-brand svg{width:110px;}

    .header .nav-link{font-size:20px; padding-top:0.7rem; padding-bottom:0.7rem;}
    
    .bg-color-blue-grid.align-items-center .title{font-size:38px;}

    .slick-slider:not(.slick-vertical):not(.general-carousel){padding:0 40px;}
    .main-slider.slick-slider:not(.slick-vertical):not(.general-carousel) {padding:0;}
  }
  @media (max-width: 850.98px) { 
  .signUp {    background-size: 40%;}

  }
  @media (max-width: 767.98px) { 
    .blog-content-border .pub-date {
      margin-bottom: 5%;
  }

  .blogDetailFooter .summary {display: block;}
    .blogDetailContent img { margin-right: 0 !important; margin-left: 0 !important; width: 100%;} 
    .blogDetailContent  li {position: relative;}
  .mobNav {background-color: rgba(0,0,0,0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex !important;
    justify-content: center;
    padding: 5% 0;}
    .mobNav a {color: #fff;}
    .signUp {background-image: url(../images/signup/form-bus-drawing-image-Mob.png);    background-position-y: 600px;
      background-position-x: right; background-size: 100%;
      padding-bottom: 95%;}
      .intro-newsletter.signUpSection {    padding-bottom: 0;}
    .signUp .section-heading .title br{display: none;}
    .video video  {
      width: 100% !important;
      height: auto!important;
    }
    .main-slider .go-btn .btn-circle { 
      width: 30px;
      height: 30px;
    }  
    .main-slider .container-fluid {bottom: 100%;} 
    .footer-brand-slogan{margin-bottom:10px; padding-left:10px; margin-top: 10px;}
    .region-footer-switchlogo .text-center{text-align: left !important;}

    .hero-banner:not(.hero-banner-plain){padding-top:0;}
    .hero-banner:not(.hero-banner-plain) .hero-image{position:relative; height:500px; }
    .vehicle-banner { max-height: 200px; }
    .hero-banner:not(.hero-banner-plain) .hero-holder{padding-top:20px;}
    .hero-banner:not(.hero-banner-plain) .hero-link{background:url('../images/pattern-black.svg') repeat-x center left;}
    .hero-banner:not(.hero-banner-plain) .hero-link .btn.btn-white{border-color:#000; color:#000; background-color:#fff;}

    .split-col-banner{min-height:40vh;}
    .split-column .split-col-banner{min-height:40vh;}

    .split-col-banner figcaption{bottom:15px; left:15px;}

    .intro-newsletter{min-height:64vh; align-items:flex-end;}

    .filter-block .btn{font-size:16px; padding-left:0; padding-right:4px;}
    .blog-responsive-mob
    {
      margin-left:-55px;
    }
    .blog-mob-year-selection
  {
    background-image:url('../images/down-arrow%20(3.html).png');
    background-repeat:no-repeat;
    background-size:15px;
    background-position-x: 90%;
      background-position-y: 5px;

  }
  .blog-mob-month-selection
  {
    background-image:url('../images/down-arrow%20(3.html).png');
    background-repeat:no-repeat;
    background-size:15px;
    background-position-x: 90%;
      background-position-y: 5px;
  }
  }

  @media (max-width: 767.98px) and  (orientation: landscape){   
    .vehicle-banner { max-height: 400px; }  
    .main-slider .container-fluid {bottom: 60%;} 
    .split-column-full .split-col-banner {
      min-height: 92vh;
      background-size: 90%;
      background-color: #edece7;
  }
  }
  @media (max-width: 657.98px) { 
    .split-column-full .split-col-banner {
      min-height: 85vh;}
  }
  @media (max-width: 575.98px) { 
    .footer-brand-slogan{  padding-left:2%;  }
  .main-slider .caption {
    bottom: 70%;
  }
  .main-slider .go-btn {
    top: 35%;
  }
  .blog-top-left {
      top:10%;
    }
    .input-group
    {
      justify-content:center !important;
      margin-top:10px;
    }
    /* .navbar-collapse{padding-left:1rem; padding-right:1rem;} */

    /* .form-newsletter .form-control{min-width:290px; font-size:14px;} */
    
    .modal .modal-dialog{margin:65px 0 0;}
    .modal .modal-body{padding:30px 15px;}
    .modal .title{margin-right:40px;}

    .team-card{margin-bottom:20px;}

    .general-content a{word-break:break-all;}
    
  }

  @media (min-width: 768px) and (max-width: 991.98px) { 
    .company-animation .embed-responsive, 
    .company-animation-wrapper .split-col-banner{min-height:300px;}

    .btn-rectangle[class*="md-block"]{padding-left:0; padding-right:0;}
    .footer-brand-slogan{margin-bottom:10px; padding-left:10px; margin-top: 10px;}
  }

  @media (min-width: 992px) and (max-width: 1199.98px) { 
    .company-animation .embed-responsive, 
    .company-animation-wrapper .split-col-banner{min-height:400px;}
  }

  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .company-animation .embed-responsive, 
    .company-animation-wrapper .split-col-banner{min-height:450px;}
  
  }

  @media (min-width: 1300px) and (max-width: 1450px) { 
   
    .footerCertificateLogo .footer-brand-slogan img {width:172px}
    .footerCertificateLogo img {width:100px}
  }
  @media (min-width: 1200px) and (max-width: 1301px) { 
    .footerCertificateLogo .footer-brand-slogan img {width:150px}
    .footerCertificateLogo img {width:82px}
  }
  @media  screen and (max-width: 1440px) {
      /* insert styles here */

    .blog-left-padding
    {
      left:6%;
    }
    .blog-col-padding {
      padding-left: 2%;
  }
  }


  @media  (min-width: 992px) and (max-width: 1110px) {
    .blogGrid {padding: 0 15px;}
    .blogFilterSection {padding-right: 15px;
  }
  }
  @media (min-width: 1400px){
    .company-animation .embed-responsive, 
    .company-animation-wrapper .split-col-banner{min-height:600px;}
    .blog-col-padding {
      padding-left: 2%;
  }
  .lg-view
  {
    left: 20%;
      width: 85%;
  }
  .blog-col-heading-padding {
      padding-left: 15%;
  }
  }

  @media  screen and (max-width: 520px) {
    .blogFilterSection ul li:first-child {    font-size: 12px;}
    .blogFilterSection ul li {
      margin-right: 5px;
  }
  .split-column-full .split-col-banner {
    min-height: 70vh;
  }
  .downloadFormDiv .g-recaptcha {transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;}
  }
  @media  screen and (max-width: 480px) 
{
  .footer-brand-slogan{  padding-left:10px  }
}
  @media  screen and (max-width: 420px) 
  {
    .split-column-full .split-col-banner {
      min-height: 46vh;
  }
  }



